/* 
    Created on : 18 Février. 2020,  10:38:08
    Author     : bacci laurane
*/

* {
    font-family: 'Montserrat'; /* Police par défaut */
    box-sizing: border-box; /* Les tailles de conteneurs incluent bordures et 
                               remplissages */
    margin: 0; /* Mise à 0 des marges externes */
    padding: 0; /* Mise à 0 des marges internes */
    text-decoration: none; /* Suppression de la mise en forme habituelle des liens 
                             (soulignement) */
}

/* Définition de la police "Montserrat" */
@font-face{ 
    font-family: "Montserrat";
    src: url('Polices/Montserrat-Regular.ttf') format("truetype");
}

@font-face{ 
    font-family: "Nordic";
    src: url('Polices/Nordic.ttf') format("truetype");
}

body {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    flex-direction: column; /* Les éléments sont empilés */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    width: 100%; /* La page occupe toute la largeur */
}

header {
    width: 916px; /* Les headers et sections occupent 1200px (taille de la bannière) */
    display: flex; /* Ce conteneur est "flexible" */
    flex-direction: column; /* Les éléments sont empilés */
}

nav ul {
    display: flex; /* Ce conteneur est "flexible" */
    flex-direction: row; /* Les éléments sont mis côte à côte */
    justify-content: space-between; /* Les éléments sont répartis équitablement */
    background-color: black; /* Couleur du fond */
}
nav ul li {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    list-style-type: none; /* Cette liste n'a pas de puce */
    font-size: x-large; /* Le texte est grossi en XXL */
    flex-grow: 1; /* L'espace occupé est élargie */
}

nav ul li a {
    padding: 10px; /* Marge intérieure */
    color: white; /* Couleur du texte */
}
nav ul li:hover {
    background-color:#9a330a; /* Couleur du fond au passage de la souris */
}


section{
    width:916px;  /*largeur des sections*/
}

#casques {
    display: flex; /* Ce conteneur est "flexible" */
    flex-wrap: wrap; /* Les éléments flexibles sont disposés sur plusieurs lignes */
    justify-content: flex-start; /* Les éléments sont alignés à gauche */
    margin-bottom: 45px; /* Marge inférieure */
}
#casques article {
    width: 163px; /* Largeur de l'article */
    height: 275px; /* Hauteur de l'article */
    margin: 10px; /* Marges extérieures */
    padding: 5px; /* Marges intérieures */
    border: white thin solid; /* Bordure blanche */
    position: relative; /* Position relative */
}
#casques article img {
    margin-left: 6px; /* Marge gauche */
}
#casques article:hover {
    border: #bbb thin solid; /* Bordure au survol */
}

#casques .prix {
    color: red; /* Couleur du texte */
    font-weight: bold; /* Texte en gras */
    margin-bottom: 10px; /* Marge basse */
}
#casques .marque {
    text-transform : uppercase; /* Mise en majuscules du texte */
    font-family: 'Nordic'; /* Police de caractères */
    font-size: x-large; /* Le texte est grossi en XL */
    display: inline; /* Affichage à la ligne pour éviter la superposition avec le stock
    */
    white-space: nowrap; /* Pas de passage à la ligne */
    font-weight: bold; /* Texte en gras */
}

#casques .modele {
    text-transform : capitalize; /* Toutes les premières lettres en majuscules */
}
#casques .stockok, #casques .stockko {
    float: right; /* Alignement flottant à droite */
    text-transform : uppercase; /* Mise en majuscules du texte */
    padding: 2px; /* Marges intérieures */
}
#casques .stockok {
    background-color: chartreuse; /* Couleur du fond */
}
#casques .stockko {
    background-color: red; /* Couleur du fond */
    color: white; /* Couleur du texte */
}

[data-tip] {
    position: relative; /* Position relative à l'existant */
    cursor: help; /* Curseur en forme de point d'interrogation */
}
[data-tip]:hover::before{
    content: ''; /* Contenu vide */
    top: 12px; /* Position du haut */
    left: 10px; /* Position de l'angle gauche */
    position:absolute; /* Position absolue */
    /* Création d'un triangle à l'aide des bordures */
    border-bottom: 12px solid fuchsia;
    border-top: 5px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
[data-tip]:hover::after {
    text-transform : none; /* Annulation de la transformation précédente */
    content: attr(data-tip); /* Le contenu correspond à la valeur de l'attribut data-tip présent dans l'HTML */
    position: absolute; /* Position absolue */
    top: 28px; /* Position du haut */
    left: 10px; /* Position de l'angle gauche */
    white-space: nowrap; /* pas de retour à la ligne dans l'infobulle' */
    padding: 5px 10px; /* Marges intérieures (Haut/Bas Gauche/Droite)*/
    background-color: fuchsia; /* Couleur du fond */
    color: white; /* Couleur du texte */
    z-index: 1; /* L'infobulle sera au-dessus du reste */
}

#casques .classement {
    width: 85px;
    height: 18px;
    position: absolute;
    bottom: 0;
    object-fit: none;
    margin: 0 39px;
}
#casques .classement.classement00 {
    object-position: 0 0;
}
#casques .classement.classement05 {
    object-position: 0 -18px;
}
#casques .classement.classement10 {
    object-position: 0 -36px;
}
#casques .classement.classement15 {
    object-position: 0 -54px;
}
#casques .classement.classement20 {
    object-position: 0 -72px;
}
#casques .classement.classement25 {
    object-position: 0 -90px;
}
#casques .classement.classement30 {
    object-position: 0 -108px;
}
#casques .classement.classement35 {
    object-position: 0 -126px;
}
#casques .classement.classement40 {
    object-position: 0 -144px;
}
#casques .classement.classement45 {
    object-position: 0 -162px;
}
#casques .classement.classement50 {
    object-position: 0 -180px;
}
#video {
    display: flex;
}
#video img, #video article p, #video iframe {
    padding-top: 16px;
}
#video img {
    float: left;
}
#video article {
    width: 50%;
    padding-right: 10px;
}
#video article p span {
    color: red;
    font-weight: bold;
}
#video article p {
    text-align: justify;
}
#video article p {
    padding-right: 10px;
    text-align: justify;
}

#contact{
    margin-bottom: 50px;  /*Pour éviter d'avoir la section sous le footer'*/
}

#coordo{
    width: 60%;
    float: left;
    margin-right: 30px;
    align-items: center;
    margin-bottom: 10px;
}
fieldset{
    padding-block-end: 10px;
    padding-block-start: 10px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}
div{
    margin-bottom: 10px;
}
#i_nom{
    width: 400px;
}
#i_pnom{
    width: 373px;
}
#i_email{
    width: 387px;
}
#i_url{
    width:416px;
}
#num_jour{
    width: 103px;
}
#num_mois{
    width: 103px;
}
#num_annee{
    width: 105px;
}
#lst_typeclient{
    width: 408px;
}
#marques{
    width: 75%;
    margin-left: 55px;
}
#votre_couleur_pref{
    width: 305px;
}
#motif input{
    margin-right: 10px;
}
#motif div label{
    margin-left: 10px;
}
#motif textarea{
    width: 100%;
    height: 150px;
}
#btn_envoyer{
    width: 350px;
    height: 50px;
    margin-right: 10px;
}
#effacer{
    width: 225px;
    height: 50px;
}
#boutons{
    text-align: center;
}
input:valid {
 color: green;
}
input:invalid {
 color: red;
}


footer {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    position: fixed; /* Le conteneur est fixé en fonction de ses coordonnées (à 0px du bas) */
    bottom: 0px; /* Bas */
    height: 35px; /* Hauteur */
    width: 100%; /* Le pied de page occupe toute la largeur */ 
    background-color:#2d2d2d; /* Couleur de fond */
    color: #bbb; /* Couleur du texte */
    text-align:center; /* Texte centré */
}

footer p {
    font-size: large; /* Le texte est grossi en L */
}

footer a{
    color: inherit; /* Couleur du lien identique à celle du conteneur */
}

#c1{
    margin-top: 1%;
    margin-right: 1%;
    float:left;
}
.cartes{
    margin-top: 1%;
}


